<form [formGroup]="resumeForm">
  <mat-form-field>
    <app-resume-form-name placeholder="Ф.И.О." required formControlName="name"></app-resume-form-name>
  </mat-form-field>
  <mat-form-field>
    <app-resume-form-sex formControlName="sex"></app-resume-form-sex>
  </mat-form-field>
  <mat-form-field>
    <app-resume-form-birthdate formControlName="birthdate"></app-resume-form-birthdate>
  </mat-form-field>
  <mat-form-field>
    <app-resume-form-marital-status formControlName="martialStatus"></app-resume-form-marital-status>
  </mat-form-field>
  <mat-form-field>
    <app-resume-form-children-count placeholder="Количество детей" formControlName="childrenCount"></app-resume-form-children-count>
  </mat-form-field>
  <mat-form-field>
    <app-resume-form-email formControlName="email"></app-resume-form-email>
  </mat-form-field>
  <mat-form-field>
    <app-resume-form-comment formControlName="comment"></app-resume-form-comment>
  </mat-form-field>
  <button mat-button>Click me!</button>
  <!--
  <app-resume-form-save-button></app-resume-form-save-button>-->
</form>
